<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

  <meta charset="UTF-8">
  <title> Bookingnetic</title>
</head>
<body>
  <div th:replace="~{./includes/header.html :: header}"></div>

    <div th:unless="${session.user_id == null}">

      <form th:action="@{/reservation/create}" th:object="${createReservation}" th:method="post">
      Are you sure you want to submit your reservation?<br>
      <input type="text" name="title" th:value="${session.selectedAccommodation.title}">
      <input type="date" name="dateFrom" th:value="${session.search.dateFrom}">
      <input type="date" name="dateTo" th:value="${session.search.dateTo}">
      <input name="totalPrice" th:value="${session.total_days}*${session.selectedAccommodation.price_for_night}">

        <button type="submit" class="btn btn-primary">Confirm</button>
      </form>
      <form th:action="@{/reservation/cancel}" th:method="post">
        <button type="submit" class="btn btn-primary">Cancel</button>
      </form>


    </div>
  <h2 th:if="${session.user_id==null}"> Log in please</h2>

  <div th:replace="~{./includes/footer.html :: footer}"></div>
</body>
</html>